/* All these width and height must be 100%*/

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

/*General reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}
.header{
  flex:2
}
.main{
  flex:8
}
.logo{
  width: 120px;
  overflow: hidden;
}
.logo-img{
width: 100%;
}
.signIn{
  
}